@import url(https://fonts.google.com/specimen/Mina?query=gam);


body{
	height: 100%; 
	font-family: 'Noto Sans', sans-serif;
  background-color:black; 
}


.contact{	
	width: 460px; 
  height: auto;
  margin: 50px auto;
	border-radius: 10px;  
	padding-top: 30px;
	padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}
.contact-form{
  --form-ok-color:#4caf50;
  --form-error-color:#f44336;
}

input{
	background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #ab4493; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 0px; 
}


textarea{
  background-color: #fbfbfb; 
	width: 405px; 
	height: 100px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #ab4493; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
	float: center; 	
}


button{
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color: hwb(237 27% 33%); 
	border-color: #44ab4e; 
	border-style: solid; 
	border-radius: 10px;	
	width: 120px;   
  cursor: pointer;
	display: flex;
	justify-content: center;

}


button p{
	color: #fff; 
}


span{
	color: #ab4493; 
}


.aviso{
	font-size: 13px;  
	color: #0e0e0e;  
}


h1{
	font-size: 39px;  
	text-align: letf; 
	padding-bottom: 20px; 
	color: hsl(228, 43%, 47%);
}


h3{
	font-size: 16px; 
	padding-bottom: 30px;
	color: #0e0e0e;   
}


p{
	font-size: 14px; 
	color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
	outline:0;
	border: 1px solid #97d848;
}


.formulario textarea:focus{
	outline:0;
	border: 1px solid #97d848;
}

.contact-form[requerid]:valid{
  border: thin solid var(--form-ok-color);
}

.contact-form[requerid]:invalid{
  border: thin solid var(--form-error-color);
}
.contact-form-error{
  margin-top: 1rem;
  font-size:90%;
  background-color:var(--form-error-color);
  color: #fff;
  transition: all 800ms ease;
}
.contact-form-error.is-active{
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}

.none{
  display: none;
}
@keyframes show-mesaage {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100%{
    visibility:visible;
    opacity: 1;
  }
}